#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding:9vh 0 9.5vh 0;
  background-color:rgb(177, 214, 198);
}

#menu h2 {
  color: rgb(97, 97, 97);
  width: 25vw;
  margin: 0 2.5vh;
}

#form-menu {
  width: 75vw;
  display: flex;
  justify-content: space-around;
}

.container-menu {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  padding: 2.5vh;
}
.aux-manu-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2.5vh;
}
.line {
  width: 22.3vw;
  margin: 1vh auto;
  padding: 0;
  border: 0.5px solid rgb(179, 179, 179);
}
.labels-menu {
  margin: 2.5vh 0 1vh 2.5vh;
  color: rgb(97, 97, 97);
}
#name-menu {
  display: flex;
  align-items: center;
  height: 4vh;
  width: 22vw;
  margin: 0 2.5vh 2.5vh 2.5vh;
  background-color: rgb(238, 238, 238);
  color: rgb(97, 97, 97);
  border: none;
}
#days-menu {
  display: flex;
  align-items: center;
  height: 4vh;
  width: 22vw;
  margin: 0 2.5vh 2.5vh 2.5vh;
  background-color: rgb(238, 238, 238);
  color: rgb(97, 97, 97);
  border: none;
}
#submit-menu {
  text-align: center;
  height: 4vh;
  margin: 1vh 2.5vh;
  background-color: rgb(168, 168, 168);
  color: rgb(94, 94, 94);
  transition: 1s;
  border: none;
  font-size: 14px;
}

#submit-menu:hover {
  color: black;
  background-color: rgb(94, 94, 94);
}
