$primary-color: #333;


#advancedSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 86vh;
  background-color: #ffefe2;
}
#advenced-search-container {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  flex-wrap: wrap;
}


.advanced-search-box {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2.5vh;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#box-submit {
  justify-content: space-between;
}
#submit-advanced {
  text-align: center;
  height: 4vh;
  margin-top: 1vh;
  background-color: rgb(168, 168, 168);
  color: rgb(94, 94, 94);
  transition: 1s;
  border: none;
  font-size: 14px;
}
#submit-advanced:hover {
  color: black;
  background-color: rgb(94, 94, 94);
}
