.ingredient-form-add {
  width: 25vw;
  display: flex;
  flex-direction: column;
  color: rgb(97, 97, 97);
}
.ingredient-form-add h2 {
  margin: 0 0 1vh 2.2vh;
}
#advancedSearch-input {
  height: 4vh;
  width: 22.7vw;
  margin: 0.5vh 2vh 2.5vh 2vh;
  background-color: rgb(206, 206, 206);
  color: rgb(97, 97, 97);
  border: none;  
}
.ingredient{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  margin: 0.5vh 2vh;
  background-color: rgba(238, 238, 238,0.8);
  color: rgb(97, 97, 97);
  transition: 0.5s;
  border: none;

}
.ingredient:hover {
  color: black;
  background-color: rgb(190, 190, 190);
}
.ingredient p{
margin: 1vh 1vh
}
.ingredient button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5vh 2vh;
  height: 3vh;
  background-color: rgb(238, 238, 238);
  color: rgb(97, 97, 97);
}
.divisor{
margin: 1vh 0vh
}