.ingredient-form-delete h2{
  color: rgb(97, 97, 97);
  margin: 0 0 1vh 2.2vh;
  
}
#delete-ingredient{
  justify-content: space-between;
}
#aux-delete{
  display: flex;
}
.rubis-btn{
  border-style: none;
}
