#userbar {
    background-color: #272727;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#userbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 6vh;
    margin: 0;
    padding: 0;
    padding-right: 2vw;
}
#userbar ul li{
    padding-right: 1vw;
    color: #d3d3d3;

}
#imgProfile {
    height: 4vh;
    border-radius: 2vh
}
#off-img{
    height: 3vh
}
#userbar ul li a {
    color: #62b3ff;
    text-decoration: none;
}