#userbar {
    background-color: blanchedalmond;
}
#userbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
}
#userbar ul li{
    padding-right: 5vh;
}
#imgProfile {
    height: 7vh;
}
