#health-labels {
  background-color: rgb(224, 224, 224);
}
#health-labels h2 {
  color:rgb(97, 97, 97);
  width: 25vw;
  margin: 0 2.5vh;
}
#health-labels label {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 4vh;
  margin: 1vh;
  background-color: rgb(238, 238, 238);
  color: rgb(97, 97, 97);
  transition: 1s;
}
#health-labels label:hover {
  color: black;
  background-color: rgb(194, 194, 194);
}
#diets {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  padding: 3vh;
  justify-content: space-around;
}
#allergies {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  padding: 3vh;
  justify-content: space-around;
}
#line-health {
  
  width: 20vw;
  margin: 0 auto;
  padding: 0;
  border: 0.5px solid rgb(179, 179, 179);
}
