#main-view {
  text-align: center;
  height: 70vh;
  background-image: url("../../images/search-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15vh;
  z-index: -1;
}

#search form {
  margin-bottom: 37vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input-search {
  margin: 0;
  padding: 0;
  border: none;
  height: 7vh;
  width: 20vw;
  border-right: 1px solid gainsboro;
}

#input-submit {
  color: rgb(148, 148, 148);
  margin: 0;
  padding: 0;
  border: none;
  height: 7vh;
  width: 7vw;
}
#box-1 {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}
#img-1 {
  background-image: url("../../images/box1bis.jpg");
  background-size: cover;
  height: 60vh;
  width: 50vw;
}
#menu-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
}
#box-2 {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}
#img-2 {
  background-image: url("../../images/box2.jpg");
  background-size: cover;
  height: 60vh;
  width: 50vw;
}
#menu-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 50vw;
}
#box-3 {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}
#img-3 {
  background-image: url("../../images/box3.jpg");
  background-size: cover;
  height: 60vh;
  width: 50vw;
}
#menu-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 50vw;
}
.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 23vw;
}
.menu-card p {
  text-align: justify;
}
.menu-card a {
  height: 7vh;
  width: 12vw;
  text-decoration: none;
  color: black;
  display: flex;
  background-color: rgb(219, 219, 219);
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-card a:hover {
  background-color: rgb(94, 94, 94);
  color: white;
}
.menu-card h2 {
  margin: 0;
}
/* .on {
  display:block;
}

.off{
  display:none;
  /* text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
} */
span{
  color: rgb(236, 65, 65);
}
